<?php
/**
 * 系统错误
 *
 * @author      yaoxiaowei
 *
 * @example     占用位置 2xx000000
 */
return  array(
        'params'        => 1000000,
        'database'      => 2000000,
        'file'          => 3000000,
        'cache'         => 4000000,
        'logic'         => 5000000,
        'client'        => 6000000,
        'remote'        => 99000000,
);